@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 45vh;
    
    
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%); font-size: 15px; color: hsl(0, 0%, 100%) ;
}
.star{
    color: #959eac;
    border-radius: 50%;
    height: 45px; 
    width: 42px;
    background-color:  #565c647c;
    font-size: x-large;
    position:absolute;
    top: 20px; 
    left: 30px;
    padding: 10px;
    margin-top: 10px;
    color: rgb(251, 116, 19);
 }
.inner-container{
    background-color: red;
}
.text1{
    padding-top: 80px;
    color: white;
    font-family: 'Overpass', sans-serif;
}
p{
    font-weight: 400;
    margin-top: 15px;
}
.container{
    position:relative;
    /* top: 100px;
    left: 100px;
     */
    height: 400px;
    margin: 100px auto;
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    /* height: 70vh; */
    border-radius: 40px;
    padding: 30px;
   
    }
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
button{
    color: #959eac;
    background-color: #565c647c;
    width: 45px;
    height: 25%;
    padding: 13px;
    border: none;
    text-align: center;
    color: #f0f8ff;
    font-family: 'Overpass', sans-serif;
    margin-top: 15px;
    border-radius: 50px;
    
}
button:hover{
    background-color:rgb(251, 116, 19) ;
    cursor:pointer;
}
button:focus{
    background-color: #959eac;
    color: #f0f8ff;
}
input{
    background-color:white;
    padding: 10px;
    width: 100%;
    font-weight: 700;
    margin-top: 20px;
    border: none;
    background-color: rgb(251, 116, 19);
    color: #f0f8ff;
    font-family: 'Overpass', sans-serif;
    border-radius: 35px;
}
input:hover{
    
    background-color: #f0f8ff;
    color: rgb(251, 116, 19);
}
.image-details{
    position: relative;
}
.image{
    position: absolute;
    
    background-color:blue;
}
.text2{
    text-align: center;
    background-color: green;
}
h4{
    background-color: red;
   
}

.message{

    text-align: center;
}
.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}